<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Register</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CSS/login.css')}}">
</head>
<body>
<h2>ADMIN LOGIN</h2>
<form action="http://127.0.0.1:5000/adashboard" method="post">
    <p>Admin Username</p><p><input type="text" name="auname"></p>
    <p>Admin Password</p><p><input type="password" name="apass"></p>
    <p><button style="padding: 5px" type="submit">Submit</button></p>
</form>
</body>
</html>