<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INFLUENCER ENGAGEMENT AND SPONSOR COORDINATION PLATFORM</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CSS/index.css')}}">  
</head>
<div class="body">
    <div class="header">
        <p><h1>INFLUENCER ENGAGEMENT AND SPONSOR COORDINATION PLATFORM</h1>
            <a href="http://127.0.0.1:5000/admin_login">Admin Login</a>
            <a href="http://127.0.0.1:5000/influencer_register">Influencer Registration</a>
            <a href="http://127.0.0.1:5000/sponsor_register">Sponsor Registration</a>
            <a href="http://127.0.0.1:5000/influencer_login">Influencer Login</a>
            <a href="http://127.0.0.1:5000/sponsor_login">Sponsor Login</a></p>
        </div>
</div>
</html>